@import '../../responsive.styles.scss';

.main-page-container {
  display: grid;
  height: 100vh;
  grid-template-columns:  [sidebar-start] 230px [sidebar-end main-start] 1fr [main-end rightbar-start] 270px [rightbar-end];
}
