$bp-largest: 75em;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;

@mixin respond($breakpoint) {
  @if $breakpoint == phone-min {
    @media only screen and (max-width: $bp-smallest){
      @content;
    }
  }
  @if $breakpoint == phone {
    @media only screen and (max-width: $bp-small) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: $bp-medium) {
      @content;
    }
  }
  @if $breakpoint == tab-land-min {
    @media only screen and (max-width: $bp-large){
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: $bp-largest) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
